In [16]:
import os
import pandas as pd
import geopandas as gpd

import numpy as np

In [17]:
path = os.path.join('i2p_data','listing') # A default location to save raw data
fn=['2015-05-listings.csv','2016-06-listings.csv','2017-03-listings.csv','2018-05-listings.csv','2019-04-listings.csv']

In [18]:
cols=['id','host_id','host_since','first_review', 'last_review','latitude', 'longitude']
df15 = pd.read_csv(os.path.join(path,fn[0]), low_memory=False, usecols=cols)
df16 = pd.read_csv(os.path.join(path,fn[1]), low_memory=False, usecols=cols)
df17 = pd.read_csv(os.path.join(path,fn[2]), low_memory=False, usecols=cols)
df18 = pd.read_csv(os.path.join(path,fn[3]), low_memory=False, usecols=cols)
df19 = pd.read_csv(os.path.join(path,fn[4]), low_memory=False, usecols=cols)
print(f"Data frame is {df15.shape[0]:,} x {df15.shape[1]}") 
print(f"Data frame is {df16.shape[0]:,} x {df16.shape[1]}") 
print(f"Data frame is {df17.shape[0]:,} x {df17.shape[1]}") 
print(f"Data frame is {df18.shape[0]:,} x {df18.shape[1]}") 
print(f"Data frame is {df19.shape[0]:,} x {df19.shape[1]}")

Data frame is 18,436 x 7
Data frame is 42,646 x 7
Data frame is 53,904 x 7
Data frame is 69,886 x 7
Data frame is 79,671 x 7

In [19]:
frame=[df15,df16,df17,df18,df19]

In [20]:
for i in frame:
    i.drop(i[i.id.isna()].index.values, axis=0, inplace=True)
    print(f"Data frame is {i.shape[0]:,} x {i.shape[1]}")

Data frame is 18,436 x 7
Data frame is 42,646 x 7
Data frame is 53,904 x 7
Data frame is 69,886 x 7
Data frame is 79,671 x 7

In [23]:
df16.head()

,id,host_id,host_since,latitude,longitude,first_review,last_review
0,6781198,21869529,2014-09-28,51.398883,-0.278265,2015-07-24,2016-01-09
1,5290274,27396120,2015-02-08,51.421111,-0.280557,2015-04-06,2015-05-12
2,4023781,20860377,2014-09-02,51.414036,-0.286075,2014-10-05,2015-12-19
3,5098744,26345340,2015-01-19,51.413899,-0.306505,2015-02-28,2016-02-18
4,11093420,52632402,2015-12-29,51.408234,-0.291167,2016-02-09,2016-04-01

In [24]:
listing15 = gpd.GeoDataFrame(df15,geometry=gpd.points_from_xy(df15.longitude,df15.latitude,crs='epsg:4326')).to_crs('epsg:27700')
listing16 = gpd.GeoDataFrame(df16,geometry=gpd.points_from_xy(df16.longitude,df16.latitude,crs='epsg:4326')).to_crs('epsg:27700')
listing17 = gpd.GeoDataFrame(df17,geometry=gpd.points_from_xy(df17.longitude,df17.latitude,crs='epsg:4326')).to_crs('epsg:27700')
listing18 = gpd.GeoDataFrame(df18,geometry=gpd.points_from_xy(df18.longitude,df18.latitude,crs='epsg:4326')).to_crs('epsg:27700')
listing19 = gpd.GeoDataFrame(df19,geometry=gpd.points_from_xy(df19.longitude,df19.latitude,crs='epsg:4326')).to_crs('epsg:27700')
    #gdf=gpd.sjoin(boro, listing, how='inner').drop(columns=['latitude','longitude','index_right'])
    #gdf_1 = gdf.groupby('GSS_CODE')['id'].agg(Number_of_Listings_2015='count').reset_index()

In [26]:
boro = gpd.read_file(os.path.join('data','geo','Boroughs.gpkg'), driver='GPKG')

In [27]:
listings=[listing15,listing16,listing17,listing18,listing19]

In [28]:
gdf15=gpd.sjoin(boro, listing15, how='inner').drop(columns=['latitude','longitude','index_right'])
gdf16=gpd.sjoin(boro, listing16, how='inner').drop(columns=['latitude','longitude','index_right'])
gdf17=gpd.sjoin(boro, listing17, how='inner').drop(columns=['latitude','longitude','index_right'])
gdf18=gpd.sjoin(boro, listing18, how='inner').drop(columns=['latitude','longitude','index_right'])
gdf19=gpd.sjoin(boro, listing19, how='inner').drop(columns=['latitude','longitude','index_right'])

In [30]:
gdf15_1 = gdf15.groupby('GSS_CODE')['id'].agg(Number_of_Listings_2015='count').reset_index() 
gdf16_1 = gdf16.groupby('GSS_CODE')['id'].agg(Number_of_Listings_2016='count').reset_index() 
gdf17_1 = gdf17.groupby('GSS_CODE')['id'].agg(Number_of_Listings_2017='count').reset_index() 
gdf18_1 = gdf18.groupby('GSS_CODE')['id'].agg(Number_of_Listings_2018='count').reset_index() 
gdf19_1 = gdf19.groupby('GSS_CODE')['id'].agg(Number_of_Listings_2019='count').reset_index()

In [34]:
df15_1 = pd.DataFrame(gdf15_1)
df16_1 = pd.DataFrame(gdf16_1)
df17_1 = pd.DataFrame(gdf17_1)
df18_1 = pd.DataFrame(gdf18_1)
df19_1 = pd.DataFrame(gdf19_1)
frame1=[df15_1,df16_1,df17_1,df18_1,df19_1]
Airbnb_listing = pd.concat(frame1)

In [35]:
Airbnb_listing

,GSS_CODE,Number_of_Listings_2015,Number_of_Listings_2016,Number_of_Listings_2017,Number_of_Listings_2018,Number_of_Listings_2019
0,E09000001,118.0,NaN,NaN,NaN,NaN
1,E09000002,7.0,NaN,NaN,NaN,NaN
2,E09000003,65.0,NaN,NaN,NaN,NaN
3,E09000004,5.0,NaN,NaN,NaN,NaN
4,E09000005,146.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
28,E09000029,NaN,NaN,NaN,NaN,252.0
29,E09000030,NaN,NaN,NaN,NaN,7653.0
30,E09000031,NaN,NaN,NaN,NaN,1292.0
31,E09000032,NaN,NaN,NaN,NaN,4041.0
32,E09000033,NaN,NaN,NaN,NaN,8863.0