In [6]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]

print("The position of Manchester in the list is: " + str(cities.index("Manchester") ))

print(cities[2 + 2])

print(cities[-2])

The position of Manchester in the list is: 2
Belfast
Belfast

In [11]:
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8] #value

# output "The average temperature in Manchester is 13.4 degrees."

cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"] #key

city_temp=dict(zip(cities,temperatures))
print(city_temp)

print("The average temperature in" + " "+str(cities[2:3])+" ""is" + " "+str(city_temp[cities[2]])+ " " +"degrees.")

{'Bristol': 15.6, 'London': 16.5, 'Manchester': 13.4, 'Edinburgh': 14.0, 'Belfast': 15.2, 'York': 14.8}
The average temperature in ['Manchester'] is 13.4 degrees.

In [12]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"] 

temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]

city="Manchester" # Use this to get the solution...

position=cities.index(city)
print(position)
print("The average temperature in " + city + " is " +str(temperatures[position]))

2
The average temperature in Manchester is 13.4

In [38]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"] 

temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]

def avg_tmp(city, temp):
    print(f"The average temperature in {city} is {temp}")

city="Edinburgh"
avg_tmp(city,temperatures[cities.index(city)])

The average temperature in Edinburgh is 14.0

In [40]:
for c in cities:
    avg_tmp(c, temperatures[cities.index(c)])

The average temperature in Bristol is 15.6
The average temperature in London is 16.5
The average temperature in Manchester is 13.4
The average temperature in Edinburgh is 14.0
The average temperature in Belfast is 15.2
The average temperature in York is 14.8

In [43]:
#Note that this is a DOL
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
}

cities['Chennai']=[13.04,80.16,'MAA']
print(cities)

{'San Francisco': [37.77, -122.43, 'SFO'], 'London': [51.51, -0.08, 'LDN'], 'Paris': [48.86, 2.29, 'PAR'], 'Beijing': [39.92, 116.4, 'BEI'], 'Chennai': [13.04, 80.16, 'MAA']}

In [44]:
print(cities['Berlin'])
# this is definitely wrong, note the difference between get method.

KeyError: 'Berlin'

In [46]:
print(cities.get('Berlin',1))

1

In [56]:
for k, v in cities.items():
    print(k+"->"+v[2])
    
    
#note that print(k+"->"+v) is wrong, because v returns a list.

San Francisco->SFO
London->LDN
Paris->PAR
Beijing->BEI
Chennai->MAA

In [57]:
#this is a DOD.
cities = {
    'San Francisco': {
        'lat': 37.77, 
        'lon': -122.43,
        'airport': 'SFO'},
    'London': {
        'lat': 51.51, 
        'lon': -0.08, 
        'airport': 'LDN'},
    'Paris': {
        'lat': 48.86,
        'lon': 2.29, 
        'airport': 'PAR'},
    'Beijing': {
        'lat': 39.92,
        'lon': 116.40,
        'airport': 'BEI'},
    'Chennai': { 
        'lat': 13.08, 
        'lon': 80.28, 
        'airport': 'MAA'}
}

for k, v in cities.items():
    print(k+'->'+v['airport'])

San Francisco->SFO
London->LDN
Paris->PAR
Beijing->BEI
Chennai->MAA

In [67]:
# print out the name and latitude of every city.

for c in cities.keys(): #change to keys list of dict.
    print(str(c)+' is at latitude'+str(cities[c]['lat'])) #!!!!!c it self is keys, we don't need to index it!

San Francisco is at latitude37.77
London is at latitude51.51
Paris is at latitude48.86
Beijing is at latitude39.92
Chennai is at latitude13.08

In [74]:
#same output!
#this is a list of dict!
cities_alt = [
    {'name':     'San Francisco',
     'position': [37.77, -122.43],
     'airport':  'SFO'},
    {'name':     'London',
     'position': [51.51, -0.08],
     'airport':  'LDN'},
    {'name':     'Paris',
     'position': [48.86, 2.29],
     'airport':  'PAR'},
    {'name':     'Beijing',
     'position': [39.92, 116.40],
     'airport':  'BEI'},
    {'name':     'Chennai', 
     'position': [13.08, 80.28],
      'airport': 'MAA'}
]

for c in cities_alt: #c is item in list,and c is dict,so to speak.
    print(c['name']+'is at latitude'+' '+str(c['position'][0]))

San Franciscois at latitude 37.77
Londonis at latitude 51.51
Parisis at latitude 48.86
Beijingis at latitude 39.92
Chennaiis at latitude 13.08

In [ ]:
#What are some of the main differences that you can think of between cities and cities_alt as data? There is no right answer.
#what differences would you find when accessing one or more 'records'?

#Point 1 cities is DOD, another is LOD.
#Point 2 iteration vairiable is str and dict,respectively.
#Point 3 the way to access data is vie keys and key&position.

In [4]:

from urllib.request import urlopen
# Given the info you were given above, what do you 
# think the value of 'url' should be? What
# type of variable is it? int or string? 
url = 'https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings-simple.csv'

# Read the URL stream into variable called 'response'
# using the function that we imported above
response = urlopen(url)

# Now read from the stream, decoding so that we get actual text
datafile = response.read().decode('utf-8')

# You might want to explore what `__class__` and `__name__`
# offer, but basically the give us a way of finding out what
# is 'behind' more complex variables
print("datafile variable is of type: '" + datafile.__class__.__name__ + "'.\n")

datafile variable is of type: 'str'.

In [76]:
print(len(datafile))
print(datafile[:600]) #this is string

16480
id,name,host_id,host_name,host_since,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,availability_365,number_of_reviews,calculated_host_listings_count
25339003,"An Amazing 4Bedroom Home, Central London, Sleeps12",191329110,Emily,2018-05-24,51.52865,-0.19998,Entire house,Entire home/apt,12,,4.0,9.0,$226.00,2,1125,23,64,1
40259218,Large Double Room - Maida Vale,302720259,Mantas,2019-10-16,51.52594000000001,-0.18909,Private room in apartment,Private room,2,,1.0,1.0,$41.00,1,24,365,4,5
20097666,Zone 1 : Spacious single bedroom in

In [5]:
url = "https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings-simple.csv"

response = urlopen(url)
datafile = response.read().decode('utf-8').splitlines() #turn into list.

print("datafile variable is of type: '" + datafile.__class__.__name__ + "'.\n")

datafile variable is of type: 'list'.

In [15]:
# Print the number of rows in `datafile`
print(len(datafile))
# Print the first two rows of `datafile`
print(datafile[1:2])

# Print the last row of datafile
print(datafile[-2:])

101
['25339003,"An Amazing 4Bedroom Home, Central London, Sleeps12",191329110,Emily,2018-05-24,51.52865,-0.19998,Entire house,Entire home/apt,12,,4.0,9.0,$226.00,2,1125,23,64,1']
['34560337,Portobello Mews House for 8 guests+free parking,47237234,Marcus,2015-10-23,51.51818,-0.20678,Entire house,Entire home/apt,8,,4.0,4.0,$263.00,2,31,52,13,1', '40373464,"Modern, Small Double Private Room",139052118,Leon,2017-07-07,51.46497,-0.17807,Private room in apartment,Private room,1,,1.0,1.0,$38.00,1,1125,0,4,6']

In [9]:
print('abcdeddfgh'.split('d'))

['abc', 'e', '', 'fgh']

In [84]:
help('abcdefgh'.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [11]:
print('ab cd ef gh'.split())

['ab', 'cd', 'ef', 'gh']

In [16]:
test = datafile[-1].split(',') # split the list, to make it indexable.
print(test)
print(test[1]) #indexable 
#output is still list.

['40373464', '"Modern', ' Small Double Private Room"', '139052118', 'Leon', '2017-07-07', '51.46497', '-0.17807', 'Private room in apartment', 'Private room', '1', '', '1.0', '1.0', '$38.00', '1', '1125', '0', '4', '6']
"Modern

In [17]:
from urllib.request import urlopen
import csv

url = "https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings-simple.csv"

urlData = [] # Somewhere to store the data

response = urlopen(url) # Get the data using the urlopen function
csvfile  = csv.reader(response.read().decode('utf-8').splitlines()) # Pass it over to the reader function

for row in csvfile:              
    urlData.append( row )

print("urlData has " + str(len(urlData)) + " rows and " + str(len(urlData[0])) + " columns.")
print(urlData[-1]) # Check it worked!

urlData has 101 rows and 19 columns.
['40373464', 'Modern, Small Double Private Room', '139052118', 'Leon', '2017-07-07', '51.46497', '-0.17807', 'Private room in apartment', 'Private room', '1', '', '1.0', '1.0', '$38.00', '1', '1125', '0', '4', '6']

In [19]:
for u in urlData[:15][1]:                             # For each row in the first 15 items in list
    print("The host of '" + u + "' is " + u) # Print out the name and host

The host of '25339003' is 25339003
The host of 'An Amazing 4Bedroom Home, Central London, Sleeps12' is An Amazing 4Bedroom Home, Central London, Sleeps12
The host of '191329110' is 191329110
The host of 'Emily' is Emily
The host of '2018-05-24' is 2018-05-24
The host of '51.52865' is 51.52865
The host of '-0.19998' is -0.19998
The host of 'Entire house' is Entire house
The host of 'Entire home/apt' is Entire home/apt
The host of '12' is 12
The host of '' is
The host of '4.0' is 4.0
The host of '9.0' is 9.0
The host of '$226.00' is $226.00
The host of '2' is 2
The host of '1125' is 1125
The host of '23' is 23
The host of '64' is 64
The host of '1' is 1

In [20]:
from urllib.request import urlopen
import csv

url = "https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings.csv"

urlData = [] # Somewhere to store the data

response = urlopen(url)
csvfile = csv.reader(response.read().decode('utf-8').splitlines())

for row in csvfile:              
    urlData.append( row )

print("urlData has " + str(len(urlData)) + " rows and " + str(len(urlData[0])) + " columns.")

for u in urlData[:1]:                               # For each row in the list
    print(u)
    print("The host of '" + u[1] + "' is " + u[4]) # Print out the name and host

urlData has 101 rows and 26 columns.
['id', 'name', 'description', 'host_id', 'host_name', 'host_since', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'price', 'minimum_nights', 'maximum_nights', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'number_of_reviews', 'first_review', 'last_review', 'review_scores_rating', 'calculated_host_listings_count']
The host of 'name' is host_name

In [94]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['London', 'Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

print(myData['Name'])

['London', 'Manchester', 'Birmingham', 'Edinburgh', 'Inverness', 'Lerwick']

In [97]:
# Find the latitude of Manchester.
lat = myData['Latitude'][ myData['Name'].index('Manchester') ]
print(f"Manchester's latitude is {lat}") # Notice how 'f-strings' work!

# Find the easternmost city
city = myData['Name'][ myData['Longitude'].index( max(myData['Longitude']) ) ]
print(f"The easternmost city is: {city}")

# Print the location of Lerwick
city = "Lerwick"
print(f"The town of {city} can be found at " + 
      f"{abs(myData['Longitude'][myData['Name'].index(city)])}ºW, {myData['Latitude'][myData['Name'].index(city)]}ºN")

# Find the mean population of the cities
# using a handy package called numpy
import numpy as np
mean = np.mean(myData['Population'])
print(f"The mean population is: {mean}")

Manchester's latitude is 53.479
The easternmost city is: London
The town of Lerwick can be found at 1.145ºW, 60.155ºN

In [96]:
myData['Population'][1]

2705000

In [98]:
myData['Name'].index('Manchester')

1

In [99]:
myData['Name'][0]

'London'

In [100]:
max_lon = max(myData['Longitude'])
myData['Longitude'].index(max_lon)
#or
myData['Longitude'].index(
    max(myData['Longitude'])
)

In [ ]:
#1.Finding the maximum value in the Longitude column (we know there must be one, but we don't know what it is!),
#2.Finding the index (position) of that maximum value in the Longitude column (now that we know what the value is!),
#3.Using that index to read a value out of the Name column.

In [105]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['London', 'Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

# Print the location of Lerwick
city = "Lerwick"
print(f"The town of {city} can be found at " + 
      f"{abs(myData['Longitude'][myData['Name'].index(city)])}ºW, {myData['Latitude'][myData['Name'].index(city)]}ºN")

The town of Lerwick can be found at 1.145ºW, 60.155ºN

In [103]:
?abs

Signature: abs(x, /)
Docstring: Return the absolute value of the argument.
Type:      builtin_function_or_method

In [106]:
myData['Name'].index(city)

myData['Longitude'][5]

-1.145

In [2]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['London', 'Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}
pop=myData['Population']

In [4]:
import numpy
mean = numpy.mean(myData['Population'])
print(f"The mean population is: {mean}")

The mean population is: 2435442.5

In [122]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['London', 'Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}


# Print out the name of the 4th most populous city-region
forth=myData['Population']
forth.sort(reverse=True)
print(forth)
forth_index=forth[3]
print(forth_index)
city=myData['Name'][myData['Population'].index(forth_index)]
print("The fourth most populous city is: " + str(city))

[9787426, 2705000, 1141816, 901455, 70000, 6958]
901455
The fourth most populous city is: Edinburgh