In [ ]:
# this is a lol
myData = [
    ['id', 'Name', 'Rank', 'Longitude', 'Latitude', 'Population'], 
    ['1', 'Greater London', '1', '-18162.92767', '6711153.709', '9787426'], 
    ['2', 'Greater Manchester', '2', '-251761.802', '7073067.458', '2553379'], 
    ['3', 'West Midlands', '3', '-210635.2396', '6878950.083', '2440986']
]

# What cities are in the data set?
col = myData[0].index('Name')
cities = []
for i in range(1,len(myData)):
    cities.append(myData[i][col])
print(", ".join(cities))

In [7]:
# this is a lol
myData = [
    ['id', 'Name', 'Rank', 'Longitude', 'Latitude', 'Population'], 
    ['1', 'Greater London', '1', '-18162.92767', '6711153.709', '9787426'], 
    ['2', 'Greater Manchester', '2', '-251761.802', '7073067.458', '2553379'], 
    ['3', 'West Midlands', '3', '-210635.2396', '6878950.083', '2440986']
]

# What cities are in the data set?
col = myData[0].index('Name')
cities = []
for i in range(1,len(myData)): # !! i is looping through a list of number(1,4)
    print(myData[i])
    cities.append(myData[i][col])
print(cities)

['1', 'Greater London', '1', '-18162.92767', '6711153.709', '9787426']
['2', 'Greater Manchester', '2', '-251761.802', '7073067.458', '2553379']
['3', 'West Midlands', '3', '-210635.2396', '6878950.083', '2440986']
['Greater London', 'Greater Manchester', 'West Midlands']

In [33]:
# this is a lol
myData = [
    ['id', 'Name', 'Rank', 'Longitude', 'Latitude', 'Population'], 
    ['1', 'Greater London', '1', '-18162.92767', '6711153.709', '9787426'], 
    ['2', 'Greater Manchester', '2', '-251761.802', '7073067.458', '2553379'], 
    ['3', 'West Midlands', '3', '-210635.2396', '6878950.083', '2440986']
]

# What cities are in the data set?
col = myData[0].index('Name')
print(col)
cities = []
for i in myData[1:]:
    cities.append(i[col])
print(cities)

1
['Greater London', 'Greater Manchester', 'West Midlands']

In [34]:
print(", ".join(cities))

#????????????????

#break the list into string and add comma in between

Greater London, Greater Manchester, West Midlands

In [40]:
#another 
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['Greater London', 'Greater Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

print(". ".join(myData['Name'])) #break the list into string and add sign in between.

Greater London. Greater Manchester. Birmingham. Edinburgh. Inverness. Lerwick

In [17]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['Greater London', 'Greater Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}


city = 'Greater Manchester'
pop = myData['Population'][ myData['Name'].index(city) ] #list.index('something') give out the position number.
print(f"Manchester's population is {pop}") # Notice how 'f-strings' work!

Manchester's population is 2705000

In [19]:
city = myData['Name'][ myData['Longitude'].index( max(myData['Longitude']) ) ]
print(f"The easternmost city is: {city}")

The easternmost city is: Greater London

In [21]:
myData['Longitude'].index( max(myData['Longitude']) ) # The index of the maximum value of the list
myData['Name'][0] # The first element in the city list

# You can use whitespace to make this more legible
myData['Name'][
    myData['Longitude'].index( 
        max(myData['Longitude']) 
    )
]

# Or, once you're more comfortable with code:
city = myData['Name'][ myData['Longitude'].index( max(myData['Longitude']) ) ]

In [22]:
#abs is absolute function
city = "Lerwick"
print(f"The town of {city} can be found at " + 
      f"{abs(myData['Longitude'][myData['Name'].index(city)])}ºW, {myData['Latitude'][myData['Name'].index(city)]}ºN")

The town of Lerwick can be found at 1.145ºW, 60.155ºN

In [23]:
city = "Lerwick"
print(f"The town of {city} can be found at " + 
      f"{abs(myData['Longitude'][myData['Name'].index(city)])}ºW, " +
      f"{myData['Latitude'][myData['Name'].index(city)]}ºN")

The town of Lerwick can be found at 1.145ºW, 60.155ºN

In [24]:
#more readable
city = "Lerwick"
lat  = abs(
    myData['Longitude'][
        myData['Name'].index(city)
    ]
)
lon  = myData['Latitude'][
    myData['Name'].index(city)
]

print(f"The town of {city} can be found at " + 
      f"{lat}ºW, " +
      f"{lon}ºN")

The town of Lerwick can be found at 1.145ºW, 60.155ºN

In [6]:
#The Average City Size
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['Greater London', 'Greater Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

import numpy as np
size=myData['Population']
mean = np.mean(size)
print(f"The mean population is: {mean}")

The mean population is: 2435442.5

In [7]:
print(f"The mean population is: {np.mean(myData['Population'])}")
# we can do some calculation in{}.

The mean population is: 2435442.5

In [14]:
#Standardising City Sizes

# Use numpy functions to calculate mean and standard deviation
mean = np.mean(myData['Population'])
std  = np.std(myData['Population'])
print(f"City distribution has sample mean {mean} and sample standard deviation of {std:7.2f}.") #7???

City distribution has sample mean 2435442.5 and sample standard deviation of 3406947.93.

In [16]:
rs = []
for x in myData['Population']:
    rs.append((x-mean)/std)
print(rs)

[2.1579383252868527, 0.0791199354729932, -0.3797024575689938, -0.45025269939207097, -0.6942995760276591, -0.7128035277711219]

In [38]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['Greater London', 'Greater Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

rs = [(x - mean)/std for x in myData['Population']] # mean and std are variables that have been defined in advance
                                                    # for x in myData['Population'] is for substraction.
myData['Std. Population'] = rs                      
#adding key-value pair into dict
print(myData['Std. Population']) #?????????????

[2.1579383252868527, 0.0791199354729932, -0.3797024575689938, -0.45025269939207097, -0.6942995760276591, -0.7128035277711219]

In [39]:
print("City name: " + ", ".join( myData['Name'] ))
print("Raw population: " + ", ".join( [str(x) for x in myData['Population']] ))
print("Standardised population: " + ", ".join( [f"{x:4.3f}" for x in myData['Std. Population']] ))

City name: Greater London, Greater Manchester, Birmingham, Edinburgh, Inverness, Lerwick
Raw population: 9787426, 2705000, 1141816, 901455, 70000, 6958
Standardised population: 2.158, 0.079, -0.380, -0.450, -0.694, -0.713

In [24]:
#print out the 4th most populous city

myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['Greater London', 'Greater Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

pop=myData['Population']
pop.sort(reverse=True)
print(pop)

position=myData['Population'].index(pop[3])
city=myData['Name'][position]
print("The fourth most populous city is: " + str(city))

[9787426, 2705000, 1141816, 901455, 70000, 6958]
The fourth most populous city is: Edinburgh

In [26]:
# another way of this
# Print out the name of the 4th most populous city-region

# Find the fourth largest value
fourth = sorted(myData['Population'], reverse=True)[3]
print(fourth)

# Find the index of the fourth largest value
idx = myData['Population'].index(fourth)
print(idx)

# Find the city associated with that value
city = myData['Name'][idx]

# And output
print("The fourth most populous city is: " + str(city))

901455
3
The fourth most populous city is: Edinburgh

In [29]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['Greater London', 'Greater Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [98426, 2705000, 1141816, 901455, 9787426, 6958],
}


fourth = sorted(myData['Population'], reverse=True)
print(fourth)
#you don't want to use <list>.sort() 
#because that will sort your data in place and break the link between the indexes across the 'columns';
pop=myData['Population']
pop.sort(reverse=True)
print(pop)

[9787426, 2705000, 1141816, 901455, 98426, 6958]
[9787426, 2705000, 1141816, 901455, 98426, 6958]

In [ ]:
# some improvement
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['Greater London', 'Greater Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

pop=myData['Population']
pop.sort(reverse=True)
print(pop)

position=myData['Population'].index(pop[3])
city=myData['Name'][position]
print("The fourth most populous city is: " + str(city))

In [1]:
#Task 1. Creating a Set of Functions

#turn it into a list of lists.

from urllib.request import urlopen
import csv

url = "https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings.csv"

urlData = [] # Somewhere to store the data

response = urlopen(url) # Get the data using the urlopen function

dataset=response.read().decode('utf-8').splitlines()
#print (dataset[1][1])    create a list, within list it is string.

csvfile  = csv.reader(dataset) # Pass it over to the reader
print(type(csvfile))
for row in csvfile:
    urlData.append(row)
    
print(row[:1])
print("urlData has " + str(len(urlData)) + " rows and " + str(len(urlData[0])) + " columns.")
print(urlData[-1][:2]) # Check it worked!

<class '_csv.reader'>
['40373464']
urlData has 101 rows and 26 columns.
['40373464', 'Modern, Small Double Private Room']

In [65]:
from urllib.request import urlopen
import csv
import os

url = "https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings.csv"
out = os.path.join('data','2020-08-24-sample-listings.csv')  # create folder and filename for the output
#Join one or more path components intelligently

#define a function
def get_url(src, dest):
    
    # Check if dest does *not* exist -- that
    # would mean we had to download it!
    if not os.path.isfile(dest):
        print(f"{dest} not found!")
    else:
        print(f"Found {dest}!")

#use this function
#get_url(url, out)

#os.path.isfile(path)
#Return True if path is an existing regular file.
# This follows symbolic links, so both islink() and isfile() can be true for the same path.

In [66]:
#call this function
get_url(url, out)

#this is just the function, nothing generated.

data\2020-08-24-sample-listings.csv not found!

In [31]:
from urllib.request import urlopen
import csv
import os

In [32]:
url = "https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings.csv"
out = os.path.join('data','2020-08-24-sample-listings.csv')
def get_url(src, dest):
    if not os.path.isfile(dest):
        print(f"{dest} not found, downloading!")
        response = urlopen(src)
        filedata = response.read().decode('utf-8')
        path = list(os.path.split(dest)[:-1])
        if len(path) >= 1 and path[0] != '':
            os.makedirs(os.path.join(*path), exist_ok=True)
        with open(dest, 'w',encoding='utf-8') as f:   #add encoding='utf-8'
            f.write(filedata)                         # in r and w mode
        
    else:
        print(f"Found {dest} locally!")
    
    with open(dest, 'r',encoding='utf-8') as f:       #add encoding='utf-8'
        return f.read().splitlines()
    

      
c = get_url(url, out) #save the csvfile in c variable

Found data\2020-08-24-sample-listings.csv locally!

In [ ]:
#print(os.path.join('data','2020-08-24-sample-listings.csv')) #return path

#print(os.path.split(out)) #return tuple

In [ ]:
#help(os.path.split) # split pathname,returns tuple
#help(os.path.join) #join path together
#help(os.makedirs)

In [33]:
def to_lol(lst):
    
    # Rest of code to read file and convert it goes here
    csvdata = []

    csvfile  = csv.reader(lst)  
    for row in csvfile:              
        csvdata.append( row )
    
    # Return list of lists
    return csvdata
    #this is necessary
# Save the CSV-LoL to a new variable
clol = to_lol(c) #call the function , c as input

In [35]:
print(f"LoL has {len(clol)} rows and {len(clol[0])} columns.")
print(clol[0][0:6])
print(clol[0])

LoL has 101 rows and 26 columns.
['id', 'name', 'description', 'host_id', 'host_name', 'host_since']
['id', 'name', 'description', 'host_id', 'host_name', 'host_since', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'price', 'minimum_nights', 'maximum_nights', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'number_of_reviews', 'first_review', 'last_review', 'review_scores_rating', 'calculated_host_listings_count']

In [34]:
def to_dol(lol):
    """
    Converts a list-of-lists (LoL) to a dict-of-lists (dol)
    using the first element in the LoL to create column names.
    
    :param lol: a list-of-lists where each element of the list represents a row of data
    :returns: a dict-of-lists
    """
    # Create empty dict-of-lists
    ds = {}

    # I had a version of this code that used
    # lol.pop(0) since it made the for loop
    # easier to read. But I changed my mind...
    #
    # Can you think why?
    col_names = lol[0]
    # Write the code to create the keys and empty lists
    for c in col_names:
        ds[c]=[]
    

    # Then values into a list attached to each key
    # and write the code to append values to each list
    for row in lol[1:]:
        for c in range(0,len(col_names)):
            ds[col_names[c]].append(row[c])
            
    return ds

ds = to_dol(clol)
print(ds['id'])

['25339003', '40259218', '20097666', '40868766', '29649371', '6650370', '42405264', '13501585', '36162322', '20631005', '32175015', '38406649', '21315952', '16361918', '39556787', '26542484', '21744434', '4059945', '5345295', '44257873', '15768207', '1683278', '24386203', '39349912', '29726372', '34713135', '424511', '2465026', '4743124', '25134847', '39437321', '35825237', '1474317', '28652501', '6868537', '726669', '20821143', '10408740', '14309812', '27866278', '40885187', '28394803', '8680525', '13433229', '37215315', '39432597', '42843489', '42337868', '25451074', '39817130', '41950973', '42513545', '27026005', '1114488', '32253983', '39911815', '39225196', '18789292', '13289226', '29502574', '20893587', '23523880', '10880757', '44069559', '34556153', '15307633', '12263797', '32347496', '668819', '29896303', '13663264', '40657332', '29230752', '32842985', '1043759', '22987867', '11707553', '20238937', '42106572', '31814561', '12195983', '41276640', '19036976', '19246652', '41665916', '29752790', '38222036', '37427933', '20916454', '29273072', '8948392', '38322409', '24146292', '21996251', '22681593', '33923856', '18734228', '41376268', '34560337', '40373464']

In [45]:
print(ds.keys())
print(", ".join(ds.keys())) #again, break list of key into string and add ,in between
print(type(", ".join(ds.keys())))

dict_keys(['id', 'name', 'description', 'host_id', 'host_name', 'host_since', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'price', 'minimum_nights', 'maximum_nights', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'number_of_reviews', 'first_review', 'last_review', 'review_scores_rating', 'calculated_host_listings_count'])
id, name, description, host_id, host_name, host_since, latitude, longitude, property_type, room_type, accommodates, bathrooms, bedrooms, beds, price, minimum_nights, maximum_nights, availability_30, availability_60, availability_90, availability_365, number_of_reviews, first_review, last_review, review_scores_rating, calculated_host_listings_count
<class 'str'>

In [21]:
cols  = ['id', 'name', 'description', 'host_id', 'host_name', 
        'host_since', 'latitude', 'longitude', 'property_type', 
        'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 
        'price', 'minimum_nights', 'maximum_nights', 'availability_30', 
        'availability_60', 'availability_90', 'availability_365', 'number_of_reviews', 
        'first_review', 'last_review', 'review_scores_rating', 'calculated_host_listings_count']
dtype = [int, str, str, int, str, 
         str, float, float, str, 
         str, int, bool, float, float, 
         str, int, int, int, int, 
         int, int, int, int,
         str, str, float, int]

# Note than you cannot save the output of zip directly because
# you can only iterate through it once.

for d in zip(cols, dtype):
    #'''convert to tuple ; d is key-value pair in tuple.'''
    print(f"Column ({d[0]:>20}) is type: {d[1].__name__} and {d[1].__class__}")

    # >20  means right-align with up to 20 characters of whitespace; notice the last line!
    # - `d[1].__name__` gives us the name of the data type, rather than a '<class...>' output.

Column (                  id) is type: int and <class 'type'>
Column (                name) is type: str and <class 'type'>
Column (         description) is type: str and <class 'type'>
Column (             host_id) is type: int and <class 'type'>
Column (           host_name) is type: str and <class 'type'>
Column (          host_since) is type: str and <class 'type'>
Column (            latitude) is type: float and <class 'type'>
Column (           longitude) is type: float and <class 'type'>
Column (       property_type) is type: str and <class 'type'>
Column (           room_type) is type: str and <class 'type'>
Column (        accommodates) is type: int and <class 'type'>
Column (           bathrooms) is type: bool and <class 'type'>
Column (            bedrooms) is type: float and <class 'type'>
Column (                beds) is type: float and <class 'type'>
Column (               price) is type: str and <class 'type'>
Column (      minimum_nights) is type: int and <class 'type'>
Column (      maximum_nights) is type: int and <class 'type'>
Column (     availability_30) is type: int and <class 'type'>
Column (     availability_60) is type: int and <class 'type'>
Column (     availability_90) is type: int and <class 'type'>
Column (    availability_365) is type: int and <class 'type'>
Column (   number_of_reviews) is type: int and <class 'type'>
Column (        first_review) is type: int and <class 'type'>
Column (         last_review) is type: str and <class 'type'>
Column (review_scores_rating) is type: str and <class 'type'>
Column (calculated_host_listings_count) is type: float and <class 'type'>

In [24]:
lt=[1,2,3,'5']
ty=[int,int,]
print(test[1].__class__)
print(test.__class__)

<class 'int'>
<class 'list'>

In [25]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [28]:
# Convert the raw data to data of the appropriate
# type: 'column data' (cdata) -> 'column type' (ctype)
def to_type(cdata, ctype):
    # If a string
    if isinstance(cdata, str):
        try:
            if ctype==bool:
                return cdata==True
            else:
                return ctype(cdata)
        except TypeError:
            return cdata
    
    # Not a string (assume list)
    else: 
        fdata = []
        for c in cdata:
            try:
                if ctype==bool:
                    fdata.append( c=='True' )
                else:
                    fdata.append( ctype(c) )
            except:
                fdata.append( c )
        return fdata

In [35]:

# Now apply this! We'll copy the data to 
# new data structure only so that we know
# we're not overwriting `ds` until we're sure
# that the code works.
ds2 = {}
for d in zip(cols, dtype):
    ds2[ d[0] ] = to_type(ds[d[0]], d[1])

In [36]:

print(ds2['id'][:3])
print(ds2['host_name'][:3])
print(ds2['beds'][:3])
print(ds2['availability_365'][:3])
print(ds2['last_review'][:3])

[25339003, 40259218, 20097666]
['Emily', 'Mantas', 'Thanyawan']
[9.0, 1.0, 1.0]
[23, 365, 0]
['2020-03-01', '2020-02-08', '']

In [37]:
import numpy as np # We'll need this

In [39]:
print(f"Average availability over 365 days is {np.mean(ds2['availability_365'])}")
print(f"Standard deviation on minimum nights is {np.std(ds2['minimum_nights'])}")
print(f"Median maximum nights is {np.median(ds2['maximum_nights'])}")

Average availability over 365 days is 129.15
Standard deviation on minimum nights is 10.685855136581255
Median maximum nights is 1125.0

In [42]:
print(f"Median price per night is {np.median(ds2['price'])}")

TypeError: cannot perform reduce with flexible type

In [ ]:
#float(ds2['price'][0].replace('$',''))
ds2['price'] = to_type([ x.replace('$','') for x in ds2['price']],float)

In [43]:
float(ds2['price'][0].replace('$',''))

226.0

In [59]:
!mkdir -p 'dtools'

In [49]:

!jupyter nbconvert --ClearOutputPreprocessor.enabled=True \
    --to python --output='dtools'/__init__.py \
    pra_4.ipynb

[NbConvertApp] Converting notebook pra_4.ipynb to python
[NbConvertApp] Writing 16520 bytes to 'dtools'\__init__.py

In [46]:
%load_ext autoreload
%autoreload 2

In [58]:
import dtools
#help(to_dol)

ModuleNotFoundError: No module named 'dtools'

In [ ]:
url = 'https://github.com/jreades/i2p/raw/master/data/src/2019-sample-Crime.csv'
out = os.path.join('data','crime-sample.csv')

dlol = dtools.get_url(url, out)
dlol = dtools.to_lol(dlol)
ddol = dtools.to_dol(dlol)

print(len(ddol.keys()))
print(len(ddol['ID']))

In [ ]:
print(ddol.keys())